
body{
  margin: 0;
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
.textbox{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group{
  display: inline;
  justify-content: center;
  align-items: center;
}
#submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.button{
    display: flex;
    justify-content: center;
  }
.coloured_text{
    color: red;
}
#submit:hover{
  background-color: #45a049;
}
.heading_bar{
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(208, 228, 27, 0.344);
  padding: 10px;
  margin: 0 auto;
}
#form1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 400px;
}
